# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset original e processado grande
data/raw/
data/processed/

# Não ignorar data/sample
!data/sample/

# Modelos gerados pesados
outputs/models/*
!outputs/models/best_model.keras

# Manter plots, reports e architectures
!outputs/plots/
!outputs/reports/
!outputs/architectures/

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# TensorFlow logs
logs/